# User-Defined Functions & Scoping

## Tasks Today:


1) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
2) Scope
3) Creating more User-Defined functions


## Functions

##### User-Defined vs. Built-In Functions

In [17]:
#Built-in Function
print("Hello")

#User Defined Function:
def say_hello():
    return "Hello World"
print(say_hello())

def say_hello2():
    return "Hello again"

print(say_hello2())

print(say_hello)

Hello
Hello World
Hello again
<function say_hello at 0x0000023D755B0280>

##### Accepting Parameters

In [19]:
# order matters
#parameters are positional
# a variable can be any type of object (data type)

def print_something(something):
    return something
print_something(4)

4

In [20]:
print_something("ryan")

'ryan'

In [21]:
print_something([2,3, 5, 6, "dog"])

[2, 3, 5, 6, 'dog']

In [22]:
def print_full_name(first_name, last_name):
    return f"My name is {first_name} {last_name}"

print_full_name("Luke", "Skywalker")

'My name is Luke Skywalker'

In [23]:
print_full_name("Solo", "Han")

'My name is Solo Han'

In [51]:
num1 = 2
num2 = 3

def add_num(num1, num2):
    
    return num1+ num2

add_num(4, 5)

9

In [44]:
def add_nums2(num1, num2):
    return num1 + num2
add_nums2(10, 5)

15

In [45]:
def multiply_nums(num1, num2):
    return num1 * num2 

multiply_nums(add_num(4, 5), add_nums2(10, 5))

135

In [54]:
sum_nums = add_num(10, 15)
sum_nums2 = add_nums2(6, 7)
print(sum_nums)
print(sum_nums2)

multiply_nums(sum_nums, sum_nums2)

25
13

325

##### Default Parameters

In [58]:
# Default parameters must come after non-default parameters at all times

def agent_name(first_name, last_name = "Bond"):
    return f"The name is {last_name}.... {first_name} {last_name}."
print(agent_name("Jimmy"))
print(agent_name("Jimmy", "Brown"))
print(agent_name("Leroy", last_name = "Jenkins"))

The name is Bond.... Jimmy Bond.
The name is Brown.... Jimmy Brown.
The name is Jenkins.... Leroy Jenkins.

In [61]:
def birthday_month(day, year, month="January"):
    return f"Your birthday is {month} {day} and you were born in {year}"

print(birthday_month(4, 1998))

print(birthday_month( 22, 1999, month="February"))

Your birthday is January 4 and you were born in 1998
Your birthday is February 22 and you were born in 1999

##### Making an Argument Optional

In [72]:
def print_horse_name(first, middle = "", last = "Ed"):
    return f"Hello {first} {middle} {last}. "

print(print_horse_name("Mr."))
print(print_horse_name("Mr.", "the horse", "epona"))

Hello Mr.  Ed.
Hello Mr. the horse epona.

##### Keyword Arguments

In [74]:
def print_hero(name, power="flying"):
    return f"{name}'s power is {power}"
print(print_hero(power="money", name = "Bruce"))

Bruce's power is money

In [80]:
yellow = "yellow"
def print_colors(color1, color2, color3):
    return f"Here are some neat colors: {color1}, {color2}, {color3}"
print_colors( color2="blue", color3=yellow, color1="red" )

'Here are some neat colors: red, blue, yellow'

# Creating a start, stop, step function

In [84]:
def my_range(stop, start = 0, step = 1):
    for i in range(start, stop, step):
        print(i)
    return "hey great job, you're beautiful"
my_range(15)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

"hey great job, you're beautiful"

In [86]:
print(my_range(1000, step = 7, start = 50))

50
57
64
71
78
85
92
99
106
113
120
127
134
141
148
155
162
169
176
183
190
197
204
211
218
225
232
239
246
253
260
267
274
281
288
295
302
309
316
323
330
337
344
351
358
365
372
379
386
393
400
407
414
421
428
435
442
449
456
463
470
477
484
491
498
505
512
519
526
533
540
547
554
561
568
575
582
589
596
603
610
617
624
631
638
645
652
659
666
673
680
687
694
701
708
715
722
729
736
743
750
757
764
771
778
785
792
799
806
813
820
827
834
841
848
855
862
869
876
883
890
897
904
911
918
925
932
939
946
953
960
967
974
981
988
995
hey great job, you're beautiful

##### Returning Values

In [89]:
poke_list = ["Charmander", "Squirtle", "Cyndaquil", "Chikorita", "Totodile"]
def find_a_bulbasaur(arr):
    for poke in arr:
        if poke == 'Bulbasaur':
            return "Bulba Bulba"       
        
    return "No Bulbasaur"

find_a_bulbasaur(poke_list)

'No Bulbasaur'

##### *args / **kwargs (keyword arguments)

In [92]:
#*args, **kwargs
#*args stands for arguments (**kwargs is for keyword arguments) & takes any number of arguments as parameters
#if other parameteres are present, *args must go last

def print_args(num1, *args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)
    
print_args(2, "Mega Man", "Cheetor", "What else is on Ryan's desk",
           ['stuff', 'morestuff'], names=['Jeong', 'Mike', 'Tenzin'], language = 'python')

2
('Mega Man', 'Cheetor', "What else is on Ryan's desk", ['stuff', 'morestuff'])
{'names': ['Jeong', 'Mike', 'Tenzin'], 'language': 'python'}

In [98]:
# Write a function that accepts args and kwargs and prints out each argument and keyword argument on its own line.

def print_args(num, *args, **kwargs):
    
    for arg in args:
        print(arg)
        
    for key, value in kwargs.items():
        # kwargs = {}
        print(key, value)
    print(num)
        
print_args(27, 10, "Mega Man", "Link", "Bowser", "Donkey Kong", annoying = "Ness", delicious = "pie", names = ['Alex', "Kayla", "Austin"])

10
Mega Man
Link
Bowser
Donkey Kong
annoying Ness
delicious pie
names ['Alex', 'Kayla', 'Austin']
27

##### Docstring

In [107]:
# really nice for leaving notes about functionaly in your code
# providing instructions
def print_names(arr):
    """    
    print_names(arr)
    Function requires a list to be passed as a parameter
    and will print the contents of the list. Expecting a list of name
    as strings to be passed in.    
    """

    for name in arr:
        print(name)
      
print_names(["Ryan", "Alex", "Jeong", "Mike", "Tenzin", "Kayla"])

def something(d):
    return d

something('d')

Ryan
Alex
Jeong
Mike
Tenzin
Kayla

'd'

##### Using a User Function in a Loop

In [108]:
def printInput(answer):
    print(f"I say heyayyayayayayayayayaayayya {answer}")
    
while True:
    ask = input("Whats going on?")
    
    printInput(ask)
    
    response = input("Are you ready to quit? ")
    if response.lower() == "yes":
        break

Whats going on?I cry sometimes when I'm lying in bed
I say heyayyayayayayayayayaayayya I cry sometimes when I'm lying in bed
Are you ready to quit? no
Whats going on?i try all the time in this institution
I say heyayyayayayayayayayaayayya i try all the time in this institution
Are you ready to quit? no
Whats going on?and i pray
I say heyayyayayayayayayayaayayya and i pray
Are you ready to quit? no
Whats going on?oh my god do i pray
I say heyayyayayayayayayayaayayya oh my god do i pray
Are you ready to quit? no
Whats going on?i pray every single day....for a revolution wohoooooooo
I say heyayyayayayayayayayaayayya i pray every single day....for a revolution wohoooooooo
Are you ready to quit? yes

## Function Exercises <br>
### Exercise 1
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [110]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def full_name(first_name, last_name):
    return [first_name[i] + " " + last_name[i] for i in range(len(first_name))]

full_name(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [111]:
def get_full_name(first, last):
    """Combine first and last to make a full name"""
    full_name = f"{first} {last}"
    return full_name.title()

def full_names(firsts, lasts): # this one takes in lists
    fulls = []
    for i in range(len(firsts)):
        whole_name = get_full_name(firsts[i], lasts[i])
        fulls.append(whole_name)
    return fulls
full_names(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

### Exercise 2
Create a function that alters all values in the given list by subtracting 5 and then doubling them.

In [113]:
input_list = [5,10,15,20,3]
# output = [0,10,20,30,-4]

In [114]:
def doubling(arr):
    l_1 = []
    for i in arr:
        l_1.append((i -5) *2)
    return l_1

print(doubling(input_list))

[0, 10, 20, 30, -4]

In [115]:
def mutateValue(nums):
    '''Returns a mutated list by subtracting 5 and doubling OG value'''
    return [(num-5)*2 for num in nums]

mutateValue(input_list)

[0, 10, 20, 30, -4]

In [116]:
def fun_math(lst):
    return [(x-5)*2 for x in lst]

fun_math(input_list)

[0, 10, 20, 30, -4]

In [117]:
def min_mult(lst):
    return [(lst[i]-5)*2 for i in range(len(lst))]
    
min_mult(input_list)

[0, 10, 20, 30, -4]

### Exercise 3
Create a function that takes in a list of strings and filters out the strings that DO NOT contain vowels.

In [118]:
string_list = ['Sheldon','Pnny','Leonard','Hwrd','Rj','Amy','Strt']
# output = ['Sheldon','Leonard','Amy']

In [121]:
string_list = ['Sheldon','Pnny','Leonard','Hwrd','Rj','Amy','Strt']
# output = ['Sheldon','Leonard','Amy']

def vowel_list(list):
    new_list = []
    vowels = ['a','e','i','o','u']
    for name in list:
        for letter in name:
            if letter.lower() in vowels:
                new_list.append(name)
                break
                
    return new_list

print(vowel_list(string_list))

['Sheldon', 'Leonard', 'Amy']

In [122]:
def contain_vowel_list(lst):
    vowels = ('a','e','i','o','u')
    l = []
    for s in lst:
        for c in s:
            if c.lower() in vowels:
                l.append(s)
                break
    return l

contain_vowel_list(string_list)

['Sheldon', 'Leonard', 'Amy']

In [124]:
def no_vowels(arr):
#     v = ['a', 'e', 'i', 'o', 'u']
    l_1 = []
    for i in arr:
        if 'a' in i.lower() or'e'in i.lower() or 'i' in i.lower() or 'o' in i.lower() or 'u' in i.lower():
            l_1.append(i)
    return l_1

print(no_vowels(string_list))

['Sheldon', 'Leonard', 'Amy']

In [127]:
string_list = ['Sheldon','Penny','Leonard','Howard','Raj','Amy','Stuart']
def bigbang(names):
    new_string = []
    for name in names:
        if len(name) < 6:
            new_string.append(name)
    return new_string
            
print(bigbang(string_list))

['Penny', 'Raj', 'Amy']

### Exercise 4
Create a function that accepts a list as a parameter and returns a dictionary containing the list items as it's keys, and the number of times they appear in the list as the values

In [128]:
example_list = ["Harry", 'Hermione','Harry','Ron','Dobby','Draco','Luna','Harry','Hermione','Ron','Ron','Ron']

# output = {
#     "Harry":3,
#     "Hermione":2,
#     "Ron":4,
#     "Dobby":1,
#     "Draco":1,
#     "Luna": 1
# }

In [129]:
def list_count(arr):
    d_1 = {}
    for i in arr:
        if i not in d_1:
            d_1[i] = 1
        else:
            d_1[i] += 1
    return d_1


for key, value in list_count(example_list).items():
    print(key , ":", value )

Harry : 3
Hermione : 2
Ron : 4
Dobby : 1
Draco : 1
Luna : 1

In [130]:
def fan_votes(lst):
    votes = {}
    for name in lst:
        if name not in votes:
            votes[name] = 1
        else:
            votes[name] += 1
    return votes

fan_votes(example_list)

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}

In [131]:
def nameCount(names):
    '''
    Accepts a list as parameter
    Returns a dict containing the items in list as keys
    and the the number of times they appear as values
    '''
    result = {}
    for name in names:
        result[name] = names.count(name)
    return result
nameCount(example_list)

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}

In [134]:
def harryPottah(lst):
    newDict = {}
    
    for i in lst:
        if i in newDict:
            newDict[i] += 1
        else:
            newDict[i] = 1
    
    print(newDict)

harryPottah(example_list)

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}

In [133]:
def votes(list1):
    d={}
    for name in list1:
        if name not in d:
            d[name] = 1
        else:
            d[name]+= 1
            
    return d

print(votes(example_list))

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}

In [136]:
def count_items(example_list):
    item_counts = {}
    for item in example_list:
        if item in item_counts:
            item_counts[item] += 1
        else:
            item_counts[item] = 1
    return item_counts
count_items(example_list)

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}

In [135]:
def dict_list(example):
    final_dict = {}
    for name in example:
        final_dict[name] = example.count(name)
    return final_dict

print(dict_list(example_list))

{'Harry': 3, 'Hermione': 2, 'Ron': 4, 'Dobby': 1, 'Draco': 1, 'Luna': 1}



## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [137]:
# placement of variable declaration matters

number = 3 # Global Variable

def myFunc():
    num_3 = 6 # Local Function Variable
    return num_3

print(number)
return_num = myFunc()
print(return_num)

3
6

In [145]:
num = 10 #<--- this is a global variable

def add_nums(number):
    num = 12
    return number + num

print(add_nums(15))

num = 15
print(num)

27
15

## Modules

##### Importing Entire Modules

In [ ]:
## Modules

print(math.pi)

num = 5
num2 = 2
num3 = 5//2
print(3)
print(math.ceil(math.pi))

##### Importing Methods Only

In [ ]:
# from 'xxx' import 'xxx'
# from math import floor
from math import floor, pi

print(floor(pi))
print(pi)

##### Using the 'as' Keyword

In [ ]:
# from 'xxx' import 'xxx' as 'xxx' or import 'xxx' as 'xxx'
# from math import floor as f
from math import floor as f, pi as p

print(p)

##### Creating a Module

In [ ]:
from module import printName as pn

pn("Ryan")

# Homework Exercises

### 1) Create a Module in VS Code and Import It into jupyter notebook <br>
<p><b>Module should have the following capabilities:</b><br><br>
1a) Has a function to calculate the square footage of a house <br>
    <b>Reminder of Formula: Length X Width == Area</b><br>
        <hr>
1b) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>

## Exercise 2 <br>
<p>Create a function which given an array of integers, return an array, where the first element is the count of
positives numbers and the second element is sum of negative numbers. 0 is neither positive nor negative.
If the input array is empty or null, return an empty array.</p><br>

In [ ]:
arr = [2, -4, 5, 3, 12, -104, -56, 27, 0]

## Exercise 3 <br>
<p>Create a function that returns the sum of the two lowest positive numbers given
an array of minimum 4 positive integers. No floats or non-positive integers will be passed.</p>

In [ ]:
pos_arr = [6, 20, 48, 96, 109, 10034]

## Exercise 4 <br>
<p>Write a function that when given a list of items will return the 
item that appears the most times in the list. 
If two or more items appear the same amount of times, output all items in a list.

Example Input = ['Orange', 'Apple', 'Bear', 3, 7, 'Tree', 'Orange', 'Tree']
Example Out = ['Orange', 'Tree']

#Hint (a counter dictionary might be helpful)</p>